{% extends "layouts/body-layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/app.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/app.js"></script>
{% endblock %}
{% block content %}
    <div id="wrapper">
        {% include "layouts/app-sidebar.twig" %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                {% include "layouts/app-navbar.twig" %}
                <div class="container-fluid">
                    {% block appcontent %}{% endblock %}
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; GraVTunes 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}