<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/bootstrap-4.4.1.min.css">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}GraVTunes{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}

    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/popper-1.16.0.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/bootstrap-4.4.1.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>