{% extends "layouts/app-layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/datatables.bootstrap.min.css">
{% endblock %}

{%  block appcontent %}
    <div class="card shadow mb-4">
        <form method="POST" action="{{ path_for("importPlay") }}"  id="importTrackForm">
            <div class="card-header py-3">
                <h5>Ajout d'une playlist</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Nom de la playlist</label>
                    <input id="name" type="text" class="form-control" name="name" placeholder="playlist rap, playlist electro..." required autofocus>
                </div>
                <div class="form-group">
                    <label for="descr">Description</label>
                    <textarea id="descr" type="text" class="form-control" name="descr" placeholder="Nom de l'album du titre, de son artiste ..."></textarea>
                </div>
            </div>

            {{ csrf() | raw }}

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-lg">Ajouter</button>
            </div>

        </form>
    </div>
{% endblock %}