{% extends "layouts/app-layout.twig" %}
{% block appcontent %}
    Home!!
 <div class="container">

     <div class="alert alert-danger" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
         </button>
         <h4 class="alert-heading">Bienvenue sur votre tableau de bord !</h4>
         <p>Ici, vous pouvez accéder à vos musiques, playlists et vinyles personnelles ainsi que de gérer votre compte GraVTunes en haut à droite.</p>
         <hr>
         <p class="mb-0">Nous espérons que vous allez faire une bonne expérience musicale. 😉</p>
     </div>

 </div>
{% endblock %}