{% extends "layouts/body-layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/assets/css/uac.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/public/assets/js/uac.js"></script>
{% endblock %}

{% block content %}
    <section class="uac h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="{{ base_url() }}/public/assets/media/images/logo.png" alt="logo">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Modifier votre mot de passe</h4>
                            <form method="POST" class="uac-validation" novalidate="">
                                <div class="form-group">
                                    <label for="new-password">Nouveau mot de passe</label>
                                    <input id="new-password" type="password" class="form-control" name="password" required autofocus data-eye>
                                    <div class="invalid-feedback">
                                        Mot de passe requis
                                    </div>
                                    <div class="form-text text-muted">
                                        Assurez-vous que votre mot de passe est solide et facile à retenir
                                    </div>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Modifier votre mot de passe
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2020 &mdash; GraVTunes
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}